body {
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue";
}

#imagen {
    background: url("../img/imagen.jpg") no-repeat center center scroll;
    width: 100%;
    background-size: cover;
    display: table;
    position: relative;
}

.center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.center h1{
    color: #ffffff;
    background-color: rgba(0,0,0,0.6);
    padding: 15px;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
}

#home {
    background: #1b6d85;
    height: 500px;
}

#frase {
    height: 25%;
    background-color: #ffffff;
    display: table;
    position: relative;
    width: 100%;
}

#frase h3 {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    line-height: 150%;
}

#opciones {
    height: 65%;
    padding-left: 17%;
    padding-right: 17%;
}

.chiquito{
    font-size: 20px;
}

.blanco {
    height: 10%;
    width: 100%;
    background-color: #ffffff;
    display: table;
    position: relative;
}

.redes{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#opciones #titulo {
    height: 35%;
}

#opciones .op {
    height: 65%;
    width: 33.33333333333333%;
    float: left;
    display: table;
    position: relative;
}

#titulo {
    display: table;
    position: relative;
    width: 100%;
}

#opciones #titulo h2 {
    color: white;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#opciones .op .opc {
    display: table-cell;
    text-align: center;
    vertical-align: top;
}

#opciones .op .opc:hover {
    animation: bounce 1.5s;
    cursor: pointer;
}

#opciones .op .opc h4 {
    color: white;
}

#opciones #titulo .star {
    max-width: 250px;
    margin: 25px auto 30px;
    padding: 0;
    text-align: center;
    border: none;
    border-top: solid 4px;
    border-radius: 32px;
}

#opciones #titulo .star:after {
    font-family: FontAwesome;
    font-size: 20px;
    position: relative;
    top: -1.1em;
    display: inline-block;
    padding: 0 .25em;
    font-weight: bold;
    content: '\00003C' '\000020' '\00002F' '\000020' '\00003E';
    background-color: #1b6d85;
}

#trabajo {
    width: 100%;
    background-color: #2b542c;
}

#estudio {
    width: 100%;
    background-color: #d43f3a;
}

#familia {
    width: 100%;
    background-color: #0f0f0f;
}

#yo {
    width: 100%;
    background-color: #2e6da4;
}